<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Team ABQ Mid-year Report</title>
    <link rel="stylesheet" type="text/css" href="//cloud.webtype.com/css/944a7551-9b08-4f0a-8767-e0f83db4a16b.css" />
    <link rel="stylesheet" href="https://style.codeforamerica.org/2/style/css/main.css">
    
    <!-- The light version of the main CFA stylesheet -->
		<link rel="stylesheet" href="https://style.s.codeforamerica.org/1/style/css/cfa-light.css">
	
		<link rel="stylesheet" href="https://style.codeforamerica.org/2/style/css/layout.css" media="all and (min-width: 40em)">
	
		<!--[if lt IE 9]>
		    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		
		<!--[if (lt IE 9)&(gt IE 6)&(!IEMobile)]>
		<link rel="stylesheet" href="../style/css/layout.css" media="all">
		<![endif]-->
		<!-- Link to a 32x32 favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
		
		<!-- (Optional) Link to a 60x60 bookmark icon for iOS -->
		<link rel="apple-touch-icon-precomposed" href="../style/favicons/60x60/flag-red.png"/>
		<style>
			ul li{
				list-style:none;
			}
		</style>
	</head>



<body>

	<div class="layout-semibreve">
	
		<header class="heading">
	    	<h1>Team Albuquerque</h1>
	    	<h2>Mid-year Report</h2>
	    </header>
	    
	    <div class="layout-minor">
	    	<p class="date">June 18, 2015</p>
	    	
	    	<nav role="navigation" class="toc" id="toc">
	        	
				<h2>Table of Contents</h2>
			
			    <ul class="sectlevel1">
			        <li><a href="#summary">Executive Summary</a></li>
			        <li><a href="#activities">Phase 1 activities</a></li>
			        <li><a href="#dashboard">Dashboard</a></li>
			        <li><a href="#research">Research</a></li>
			        <li><a href="#resident">Resident research</a></li>
			        <li><a href="#interviews">In-person user interviews</a></li>
			        <li><a href="#staff">City staff research</a></li>
			        <li><a href="#survey">Staff survey</a></li>
			        <li><a href="#alpha">Alpha website</a></li>
			        <li><a href="#next-steps">Next steps</a></li>
			        <li><a href="#appendix">Appendix</a></li>
			    </ul>
			
			</nav>

			<p>Contributors:</p>
			<ul class="sectlevel1">
				<li>Jennings Hanna</li>
				<li>William Tyner</li>
				<li>Yaniv Zimet</li>
			</ul>

		</div>
	    
	    <main id="content" class="layout-major">
	
		    {{ content }}
		    
		</main>
	
	</div>
	
	<a href="#toc" class="skip-to-nav">Table of Contents</a>
	
	<footer class="global-footer">
	    <div class="layout-semibreve layout-tight">
	    	<p>Last updated …</p>
	    	<p>For help contact …</p>
	    </div>
	</footer>
    
</body>

</html>